<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Remove raven sentry it is an error loggin framework like errorception -->
    <!-- Sentry error logging to help with finding bugs -->
    <!-- <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
    <script>
        Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
    </script> -->
    <!-- /Sentry -->
    <style type="text/css">
        
        body.full-app-screen, body.full-app-screen .index_app_2mqDO{
            min-height: 600px!important;
            min-width: 1024px!important;
            overflow: auto;
        }
        body.only-player-app-screen, body.only-player-app-screen .index_app_2mqDO{
            min-width: 380px!important;
            min-height: 334px!important;
            overflow: hidden;
        }
    </style>
    <script type="text/javascript">
        window.__IS_PROJECT_PAGE=true;
        (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
        c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
        c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
        _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
        (window,document,"script","589263eb728951840e000307");
    </script>

  </head>
  <body class="only-player-app-screen">
  </body>
</html>
